body{

}

.green{
    color:#5cb85c;
}

div.checkbox input[type=checkbox]{
    margin-left: 0 !important;
}


table th.edit,th.delete,th.checkall,th.center{
    text-align: center;
}

table td.edit p,td.delete p{
    margin: 0;
}

table td.edit,td.delete,td.check,td.center{
    text-align: center;
}

table th.right,td.right{
    text-align: right;
}

div.edit-tabs{
    margin:80px 0 80px 25px;
}

div.tab-content > div.tab-pane > div.package_courses,
div.tab-content > div.tab-pane > div.package_media{
    margin-top:50px;
}

div.tab-content > div.tab-pane > div.package_media div.media-preview{
    min-height: 100px;
}

div.tab-content > div.tab-pane > div.package_media div.media-img{
    margin-top: 25px;
    width: 240px;
    height:240px;
    position: relative;
    overflow: hidden;
    z-index: 10;
}

div.tab-content > div.tab-pane > div.package_media div.media-img img{
    max-width: 100%;
    max-height: 100%;
}




.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

